<?xml version="1.0"?>
<config>
    <modules>
        <Juno_Minify>
            <version>0.1.0</version>
        </Juno_Minify>
    </modules>
    <global>
        <models>
            <juno_minify>
                <class>Juno_Minify_Model</class>
            </juno_minify>
        </models>
        <blocks>
            <juno_minify>
                <class>Juno_Minify_Block</class>
            </juno_minify>
        </blocks>
        <helpers>
            <juno_minify>
                <class>Juno_Minify_Helper</class>
            </juno_minify>
        </helpers>
        <resources>
            <juno_minify_setup>
                <setup>
                    <module>Juno_Minify</module>
                </setup>
            </juno_minify_setup>
        </resources>
        <events>
            <application_clean_cache>
                <observers>
                    <juno_minify>
                        <type>singleton</type>
                        <class>Juno_Minify_Model_Observer</class>
                        <method>minifyStuff</method>
                    </juno_minify>
                </observers>
            </application_clean_cache>
        </events>
    </global>
    <crontab>
        <jobs>
            <minify_css_js>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                    <config_path>
                        <model>juno_minify/observer::minifyStuff</model>
                    </config_path>
                </schedule>
            </minify_css_js>
        </jobs>
    </crontab>
</config>