<?xml version="1.0"?>
<config>
    <modules>
        <Juno_Minify>
            <version>0.1.0</version>
        </Juno_Minify>
    </modules>
    <global>
        <models>
            <juno_minify>
                <class>Juno_Minify_Model</class>
            </juno_minify>
        </models>
        <blocks>
            <juno_minify>
                <class>Juno_Minify_Block</class>
            </juno_minify>
            <page>
                <rewrite>
                    <html_head>Juno_Minify_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <juno_minify>
                <class>Juno_Minify_Helper</class>
            </juno_minify>
        </helpers>
        <resources>
            <juno_minify_setup>
                <setup>
                    <module>Juno_Minify</module>
                </setup>
            </juno_minify_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <minify_css_js>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>juno_minify/observer::minifyStuff</model>
                </run>
            </minify_css_js>

            <juno_minified_css_js_clean>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>juno_image/observer::clean</model>
                </run>
            </juno_minified_css_js_clean>
        </jobs>
    </crontab>
</config>